# Node modules
node_modules/

# Build output
build/
dist/

# Log files
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
jspm_packages/

# Coverage directory used by tools like istanbul
coverage/

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Optional: npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
*.swp  # Vim swap files
*.swo  # Vim swap files
